
.cardImg2{
    max-width: 110px;
    max-height: 100px;
}



@media screen and (min-width: 1650px) {
    .wrapp{
        
        background-image: url('./banner.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 29rem;
        width: 100%;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .wrapp2{
        
        width: 100%;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gridContent{
        background-color: rgba(255, 255, 255, 0);
      }
    

    .itemsOfUnd{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .textIn{
        padding-left: 300px;
    }
    .textIn2{
        padding-left: 300px;
    }
    .gridContent2{
        
      }
    
    .gridContent3{
        min-width: 250px;
        max-width: 300px;
    }
    .hideModal{
        display: none;
    }
    
}

@media screen and (max-width: 1650px) and (min-width: 800px) {
    .wrapp{
        
        background-image: url('./banner-mini.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 29rem;
        width: 100%;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .wrapp2{
        width: 100%;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gridContent{
      background-color: rgba(255, 255, 255, 0);
    }
    .textIn{
        padding-left: 70px;
        font-size: 35px;
    }
    .textIn2{
        padding-left: 70px;
        font-size: 35px;
    }
    .gridContent3{
        max-width: 80%;
        min-width: 250px;
        max-width: 300px;
    }

    .itemsOfUnd{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .hideModal{
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .wrapp{
        padding-top: 40px;
        background-image: url('./banner-phone.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 29rem;
        width: 100%;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .wrapp{
        width: 100%;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .textIn2{
        padding-left: 30px;
        font-size: 35px;
        text-align: center!important;
    }
    
    .gridContent2{
        background-color: rgba(255, 255, 255, 0);
        display: none;
    }
    .gridContent3{
        display: none;
    }
    .gridContent4{
        background-color: rgb(255, 255, 255);
    }
    
    .hideModal {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
      }
    .hideModalInside{
        max-width: 300px;
        min-width: 250px;
        
    }
}



